body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.category-list {
    display: flex;
    flex-direction: column; /* Đặt chiều xếp dọc */
    align-items: center; /* Căn giữa các mục */
    margin: 20px 0;
}

.category-item {
    border: 1px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    width: 80%; /* Thay đổi chiều rộng cho phù hợp */
    margin-bottom: 20px; /* Khoảng cách giữa các mục */
    text-align: center;
}

.category-item h3 {
    margin: 0 0 10px 0;
    color: #4CAF50;
}

.category-slider {
    margin: 20px 0;
}

.category-slider div {
    padding: 10px;
}

.category-slider img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}



/* Slick Slider Styles */
.slider {
    margin: 20px auto;
    max-width: 800px; /* Chiều rộng tối đa của slider */
}

.slider div {
    padding: 10px;
}

.slider img {
    width: 100%; /* Chiều rộng hình ảnh chiếm toàn bộ chiều rộng của khung */
    height: auto; /* Chiều cao tự động để giữ tỷ lệ */
    border-radius: 10px; /* Bo góc cho hình ảnh */
}